<div id="modal-content-wrapper">
  <header id="modal-header">
    <h1 id="modal-title">Create new order</h1>
  </header>

  <section id="modal-body">

    <form  *ngIf="!success" [formGroup]="orderForm" (ngSubmit)="onSubmit()">

      <label>
        <div>
          Delivery name:
          <input *ngIf="!update" type="text" formControlName="deliveryName" placeholder="{{order.deliveryName}}">
          <input *ngIf="update" type="text" formControlName="deliveryName" value="{{order.deliveryName}}">
          <div *ngIf="submitted && orderForm.controls.deliveryName.errors" class="error">
            <div *ngIf="orderForm.controls.deliveryName.errors.required">Delivery name is required!</div>
          </div>
        </div>

        <div>
          Delivery street:
          <input type="text" formControlName="deliveryStreet" placeholder="{{order.deliveryStreet}}">
          <div *ngIf="submitted && orderForm.controls.deliveryStreet.errors" class="error">
            <div *ngIf="orderForm.controls.deliveryStreet.errors.required">Delivery street is required!</div>
          </div>
        </div>

        <div>
          Delivery city:
          <input type="text" formControlName="deliveryCity" placeholder="{{order.deliveryCity}}">
          <div *ngIf="submitted && orderForm.controls.deliveryCity.errors" class="error">
            <div *ngIf="orderForm.controls.deliveryCity.errors.required">Delivery city is required!</div>
          </div>
        </div>

        <div>
          Delivery state:
          <input type="text" formControlName="deliveryState" placeholder="{{order.deliveryState}}">
          <div *ngIf="submitted && orderForm.controls.deliveryState.errors" class="error">
            <div *ngIf="orderForm.controls.deliveryState.errors.required">Delivery state is required!</div>
          </div>
        </div>

        <div>
          Delivery ZIP:
          <input type="text" formControlName="deliveryZip" placeholder="{{order.deliveryZip}}">
          <div *ngIf="submitted && orderForm.controls.deliveryZip.errors" class="error">
            <div *ngIf="orderForm.controls.deliveryZip.errors.required">Delivery ZIP is required!</div>
          </div>
        </div>

        <div>
          Credit card number:
          <input type="text" formControlName="ccNumber" placeholder="{{order.ccNumber}}">
          <div *ngIf="submitted && orderForm.controls.ccNumber.errors" class="error">
            <div *ngIf="orderForm.controls.ccNumber.errors.required">Credit card number is required!</div>
          </div>
        </div>

        <div>
          Credit card expiration:
          <input type="text" formControlName="ccExpiration" placeholder="{{order.ccExpiration}}">
          <div *ngIf="submitted && orderForm.controls.ccExpiration.errors" class="error">
            <div *ngIf="orderForm.controls.ccExpiration.errors.required">Credit card expiration is required!</div>
          </div>
        </div>

        <div>
          Credit card CVV:
          <input type="text" formControlName="ccCVV" placeholder="{{order.ccCVV}}">
          <div *ngIf="submitted && orderForm.controls.ccCVV.errors" class="error">
            <div *ngIf="orderForm.controls.ccCVV.errors.required">Credit card CVV is required!</div>
          </div>
        </div>

      </label>

      <input *ngIf="!update" type="submit" value="CREATE ORDER" class="cta" />
      <input *ngIf="update" type="submit" value="UPDATE ORDER" class="cta" />

      <button>CANCEL</button>
    </form>

    <div *ngIf="submitted && !success" class="results">

      <strong>Delivery name:</strong>
      <span><pre> {{ orderForm.controls.deliveryName.value }}</pre></span>

      <strong>Delivery street:</strong>
      <span><pre> {{ orderForm.controls.deliveryStreet.value }}</pre></span>

      <strong>Delivery city:</strong>
      <span><pre> {{ orderForm.controls.deliveryCity.value }}</pre></span>

      <strong>Delivery state:</strong>
      <span><pre> {{ orderForm.controls.deliveryState.value }}</pre></span>

      <strong>Delivery ZIP:</strong>
      <span><pre> {{ orderForm.controls.deliveryZip.value }}</pre></span>

      <strong>Credit card number:</strong>
      <span><pre> {{ orderForm.controls.ccNumber.value }}</pre></span>

      <strong>Credit card expiration:</strong>
      <span><pre> {{ orderForm.controls.ccExpiration.value }}</pre></span>

      <strong>Credit card CVV:</strong>
      <span><pre> {{ orderForm.controls.ccCVV.value }}</pre></span>

    </div>

    <div *ngIf="success">
      <h5>
        Your form is valid!
      </h5>
      <td>
        <button mat-raised-button id="new-order-btn" (click)="reloadPage()">NEW ORDER</button>
      </td>
      <td>
        <button mat-raised-button id="back-order-btn" routerLink="/orders/{{userId}}">BACK TO ORDERS</button>
      </td>
    </div>

  </section>

</div>
