<h1>Users</h1>

<table *ngIf="users">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Orders</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>

  <!--  users.users -> variable users contains users objects-->
  <tr *ngFor="let user of users.users">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>
      <button mat-raised-button id="orders-user-btn" (click)="displayOrders()">ORDERS</button>
    </td>
    <td>
      <button mat-raised-button id="update-user-btn" (click)="openUserFormModalUpdate(user.id)">UPDATE</button>
    </td>
    <td>
      <button mat-raised-button id="delete-user-btn" (click)="deleteUser(user.id)">DELETE</button>
    </td>
  </tr>
</table>

<div class="container">
    <button mat-raised-button id="create-user-btn" (click)="openUserFormModal()">CREATE USER</button>
</div>
